*{margin: 0;
    padding: 0;
    box-sizing: border-box;}
    
    html,body{
        width: 100%;
        height: 100%;
    }
    
    #main{
        height: 100%;
        width: 100%;
        
    }
    #nav{
        height: 100px;
        width: 100%;
        display: flex;
       align-items: center;
        justify-content: flex-end;
        gap: 30px;
        padding: 0 30px;
        background-color: rgb(244, 114, 103);
    }
    #nav h4{
        font-size: 20px;
        font-weight: 600;
    
    }

    #nav i{
        background-color: black;
        color: white;
        font-size: 20px;
        padding: 10px;
        border-radius: 50%;
    }
    #center{
        width: 100%;
         padding: 20px 50px;
         background-color: rgb(247, 161, 0);
    }
    #center h1{
     font-size: 6vw;
     line-height: 6.5vw;
     font-weight: 500;
    }
    
    #center-in{
        height: 200px;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    #center-in p{
        font-weight: 600;
        font-size: 2vw;
        line-height: 2.5vw;
        color: #685e5e;
    }  
    
    #center-right{
        width: 20%;
    }
    .elem{
        padding: 20px 0;
        border-top: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .elem a {
        color: #000;
        text-decoration: none;
        font-weight: 600;
        font-size: 20px;
    }
    
    .elem i {
        font-size: 25px;
        font-weight: 500;
        margin-left: 15px; 
        opacity: 0
    }
    
    .elem:hover i {
        opacity: 1;
    }
    
    #bottom {
        height: 40vh;
        width: 100%;
        overflow: hidden;
    }
    
    #bottom img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 10%;
    }

    
    
    
    @media(max-width:600px){
        #nav{
        background-color: rgb(244, 114, 103);
            height: 60px;
            width: 100%;
            padding: 0 30px;
           }
    
           #nav h4{
            font-size: 20px;
            font-weight: 600;
            display: none           ;
        
        }
           #nav i{
            background-color: black;
            color: white;
            font-size: 15px;
            padding: 7px;
            border-radius: 50%;
        }
    
        #center{
            width: 100%;
             padding: 15px 30px;
         background-color: rgb(247, 161, 0);
             
        }
        #center h1{
         font-size: 11vw;
         line-height: 13vw;
         font-weight: 500;
        }
        
        #center-in{
            height: 200px;
            width: 100%;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        #center-in p{
            font-weight: 600;
            font-size: 4vw;
            line-height: 4vw;
            color: #685e5e;
        }  
        
        #center-right{
            width: 100%;
        }
        .elem{
            padding: 10px 0;
            border-top: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .elem a {
            color: #000;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
        }
        
        .elem i {
            font-size: 18px;
            font-weight: 500;
            margin-left: 5px; 
            opacity: 0
        }
        
        .elem:hover i {
            opacity: 1;
        }
        #bottom {
            height: 50vh;
        }
        #bottom img {
            object-position: center;
        }  
    }